#game-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-evenly;
  height: 80%;
  border: 1px solid green;
}

#game-info {
  margin-top: 5px;
  height: 20%;
  border: 1px solid green;
}
