#game-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-evenly;
  align-content: space-evenly;
  height: 90%;
}

#game-info {
  margin-top: 5px;
  height: 20;
  text-align: center;
}
