.number-card {
  width: 100px;
  height: 100px;
  margin: 5px;
}

.number-card.active {
  border: 1px solid green;
  font-size: 75px; /* this is chosen based on number card width */
  text-align: center;
}

.number-card.active > span:hover {
  cursor: pointer;
}

.number-card.active > img:hover {
  cursor: pointer;
}

.number-card > img {
  width: 100%;
  height: 100%;
  vertical-align: top;
  overflow: hidden;
}

.number-card.inactive {
  visibility: hidden;
}
