:root {
  --main-bg-color: #0d0d0d;
  --main-font-color: #f2f2f2;
  --faded-black: #333333;
  --faded-white: #f2f2f2;
  --too-faded-white: #5c5c5c;
}

.material-icons.md-light {
  color: var(--too-faded-white);
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;

  /* necessary to hide scrollbars */
  margin: 0;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

#game-card {
  background-color: #fff;
  padding: 0px 9px;
  height: 100%;
  box-shadow: #94949447 0px 0px 12px 8px;
}

/* App component container */
#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 1050px;
  color: var(--main-font-color);
  background-color: var(--main-bg-color);
  padding: 5px;
}
